## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bilibino,RU,2021-08-15 00:34:45,68.0546,166.4372,46.45,69,100,9.04,overcast clouds
1,1,Port Macquarie,AU,2021-08-15 00:31:25,-31.4333,152.9167,62.56,51,0,4.70,clear sky
2,2,Ferme-Neuve,CA,2021-08-15 00:34:45,46.7001,-75.4493,64.18,68,0,4.16,clear sky
3,3,Hermanus,ZA,2021-08-15 00:34:46,-34.4187,19.2345,53.91,77,0,11.34,clear sky
4,4,Ushuaia,AR,2021-08-15 00:34:46,-54.8000,-68.3000,35.26,75,0,3.44,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
ideal_cities = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]

ideal_cities.head(20)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Mahebourg,MU,2021-08-15 00:34:47,-20.4081,57.7000,70.09,73,75,11.50,light rain
10,10,Albany,US,2021-08-15 00:32:35,42.6001,-73.9662,72.25,54,14,1.99,few clouds
19,19,Kapaa,US,2021-08-15 00:34:51,22.0752,-159.3190,87.78,67,1,5.01,clear sky
20,20,Itarema,BR,2021-08-15 00:34:51,-2.9248,-39.9167,75.97,79,10,7.54,clear sky
26,26,Vaini,TO,2021-08-15 00:34:54,-21.2000,-175.2000,73.56,68,40,10.36,scattered clouds
27,27,Vila Franca Do Campo,PT,2021-08-15 00:34:54,37.7167,-25.4333,73.81,89,60,11.83,broken clouds
28,28,Mount Isa,AU,2021-08-15 00:34:55,-20.7333,139.5000,76.77,33,0,11.50,clear sky
32,32,Salalah,OM,2021-08-15 00:34:56,17.0151,54.0924,77.09,94,75,4.61,light intensity drizzle
33,33,Dingle,PH,2021-08-15 00:34:57,10.9995,122.6711,84.24,71,12,3.00,light rain
34,34,Rikitea,PF,2021-08-15 00:34:57,-23.1203,-134.9692,74.66,81,2,17.74,clear sky
38,38,Mareeba,AU,2021-08-15 00:34:59,-17.0000,145.4333,72.45,77,46,8.16,scattered clouds
42,42,Vaitape,PF,2021-08-15 00:34:59,-16.5167,-151.7500,79.03,72,10,6.46,clear sky
44,44,Kapit,MY,2021-08-15 00:35:00,2.0167,112.9333,75.25,98,100,1.14,overcast clouds
45,45,Noumea,NC,2021-08-15 00:33:35,-22.2763,166.4572,75.18,57,93,15.66,overcast clouds
46,46,Ballina,AU,2021-08-15 00:35:01,-28.8667,153.5667,72.79,88,40,0.00,scattered clouds
49,49,Butaritari,KI,2021-08-15 00:35:01,3.0707,172.7902,82.31,72,96,5.95,overcast clouds
51,51,Shimanovsk,RU,2021-08-15 00:35:02,52.0000,127.7000,74.71,54,0,3.20,clear sky
55,55,Hilo,US,2021-08-15 00:33:20,19.7297,-155.0900,83.93,62,1,9.22,clear sky
56,56,Moerai,PF,2021-08-15 00:35:03,-22.4333,-151.3333,73.18,76,7,7.29,clear sky
57,57,Bambous Virieux,MU,2021-08-15 00:35:04,-20.3428,57.7575,70.05,73,75,11.50,light rain

In [5]:
# 4a. Determine if there are any empty rows.
ideal_cities.count()

City_ID                345
City                   345
Country                345
Date                   345
Lat                    345
Lng                    345
Max Temp               345
Humidity               345
Cloudiness             345
Wind Speed             345
Current Description    345
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = ideal_cities.dropna()
clean_df.count()

City_ID                345
City                   345
Country                345
Date                   345
Lat                    345
Lng                    345
Max Temp               345
Humidity               345
Cloudiness             345
Wind Speed             345
Current Description    345
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Mahebourg,MU,70.09,light rain,-20.4081,57.7000,
10,Albany,US,72.25,few clouds,42.6001,-73.9662,
19,Kapaa,US,87.78,clear sky,22.0752,-159.3190,
20,Itarema,BR,75.97,clear sky,-2.9248,-39.9167,
26,Vaini,TO,73.56,scattered clouds,-21.2000,-175.2000,
27,Vila Franca Do Campo,PT,73.81,broken clouds,37.7167,-25.4333,
28,Mount Isa,AU,76.77,clear sky,-20.7333,139.5000,
32,Salalah,OM,77.09,light intensity drizzle,17.0151,54.0924,
33,Dingle,PH,84.24,light rain,10.9995,122.6711,
34,Rikitea,PF,74.66,clear sky,-23.1203,-134.9692,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotel_name = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_name["results"][0]["name"]
    except (IndexError):
        print("Hotel not found.... skipping.")

Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Mahebourg,MU,70.09,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
10,Albany,US,72.25,few clouds,42.6001,-73.9662,
19,Kapaa,US,87.78,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
20,Itarema,BR,75.97,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
26,Vaini,TO,73.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort

In [10]:
hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Mahebourg,MU,70.09,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
10,Albany,US,72.25,few clouds,42.6001,-73.9662,
19,Kapaa,US,87.78,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
20,Itarema,BR,75.97,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
26,Vaini,TO,73.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
27,Vila Franca Do Campo,PT,73.81,broken clouds,37.7167,-25.4333,Pestana Bahia Praia
28,Mount Isa,AU,76.77,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
32,Salalah,OM,77.09,light intensity drizzle,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
33,Dingle,PH,84.24,light rain,10.9995,122.6711,SEGAYA PROPERTY
34,Rikitea,PF,74.66,clear sky,-23.1203,-134.9692,People ThankYou
38,Mareeba,AU,72.45,scattered clouds,-17.0000,145.4333,Trinity Plains Tourist Park
42,Vaitape,PF,79.03,clear sky,-16.5167,-151.7500,Conrad Bora Bora Nui
44,Kapit,MY,75.25,overcast clouds,2.0167,112.9333,Hotel Meligai Kapit
45,Noumea,NC,75.18,overcast clouds,-22.2763,166.4572,Hôtel Le Lagon
46,Ballina,AU,72.79,scattered clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
49,Butaritari,KI,82.31,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
51,Shimanovsk,RU,74.71,clear sky,52.0000,127.7000,Гостиница Домашняя
55,Hilo,US,83.93,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
56,Moerai,PF,73.18,clear sky,-22.4333,-151.3333,Le Manotel
57,Bambous Virieux,MU,70.05,light rain,-20.3428,57.7575,Casa Tia Villa

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_df = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations_df, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))